// Colors
// https://coolors.co/f0a202-87b37a-6baa75-348aa7-525174-513b56-161118-1e1b22-f7567c-f4f1de
$marigold: #f0a202ff;
$dark-sea-green: #87b37aff;
$forest-green-crayola: #6baa75ff;
$blue-munsell: #348aa7ff;
$independence: #525174ff;
$english-violet: #513b56ff;
$xiketic: #161118ff;
$raisin-black: #1e1b22ff;
$brink-pink: #f7567cff;
// $eggshell: #f4f1deff;
$eggshell: #f4f4f2ff;

// Theme
$bg: $eggshell;
$fg: $xiketic;
